@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Satoshi-Regular.woff2") format("woff2"),
    url("./fonts/Satoshi-Regular.woff") format("woff");
}

@font-face {
  font-family: "Satoshi";
  font-style: bold;
  font-weight: 700;
  src: url("./fonts/Satoshi-Bold.woff2") format("woff2"),
    url("./fonts/Satoshi-Bold.woff") format("woff");
}

body {
  margin: 0;
  font-family: 'Satoshi', "'Segoe UI'", 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
  @apply text-white bg-midnight-1}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.without-ring:focus:not(:focus-visible) {
  @apply focus:ring-0 focus:ring-offset-0;
}

.without-ring:focus-visible {
  @apply ring-2 ring-offset-2;
}

.hover-outline {
  @apply border-transparent border-2 hover:border-white ease-in-out duration-100
}